Text Interactions !!
<div class="text_points_box">
<% @text_array.each do |text_point| %>
	<div class="text_points"><%=text_point%></div>
<% end %>
</div>
<div class="text_interaction_container"> 
	<div class="text_count">
		<span id = "text_counter"> <%=  1 %> </span>/ <%= @text_array.length %>
	</div>
	<% action_categories = ["Action", "Practise", "Extras","Prev","Next"]%>
	<div id ="frame_cover">
		<div>
			<textarea class="text_input_box"> </textarea>
		</div>
		<div><button class="save_square"> Append</button></div>
		<% action_categories.each do |action| %>
			<span class="action_square" id="<%=action%>"><%= action %></span>
		<% end %>
	</div>
	<div id ="text_interact_box">
		<textarea class="text_action_input"></textarea>
		<div><button class="interact_square"> Interact</button></div>
	</div>
</div>
<div>
	<button class="generate_file">Generate File</button>
</div>

<style type="text/css">
.generate_file {
	margin-top: 20px;
}
.square {
}
.action_square {
  border-style: solid;
  border-width: 3px;
  border-color: #FFA500	;
}
.save_square {
	margin-bottom: 5px;
}

.text_input_box {
  height: 100px;
  width: 500px;
  border-style: solid;
  border-width: 3px;
  border-color: #A4D3EE;
}
.text_action_input {
	height: 70px;
  width: 200px;
  margin-top: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #A4D3EE;
}
.text_points {
  text-decoration:underline
  color: black;
}
.text_points_box {
	max-height: 350px;
	width: 500px;
  overflow: auto;
}
.text_interaction_container {
	margin-top: 10px;
}
</style>
<script type="text/javascript">
	var counter = 1
	var max_counter = parseInt($(".text_count").text().split("/")[1])
	var text_points_html = $(".text_points:nth-child(" + counter+  ")").html()
	$(".text_input_box").html(text_points_html)
	$("#text_interact_box").hide()
	$(".action_square").click(function(){
		var action_square_id = $(this).attr("id");
		if (action_square_id == "Next"){
			$(".text_points:nth-child(" + counter+  ")").css({"color": "black", "font-weight": "normal"})
			if (counter < max_counter) {
				counter +=1;
			}
			else {
				counter = 1;
			}
			$(".text_points:nth-child(" + counter+  ")").css({"color": "blue", "font-weight": "bold"})
			var text_points_html = $(".text_points:nth-child(" + counter+  ")").html()
			$(".text_input_box").val(text_points_html)
			$("#text_counter").html(counter + " ");
			return true
		}
		if (action_square_id == "Prev"){
			$(".text_points:nth-child(" + counter+  ")").css({"color": "black", "font-weight": "normal"})			
			if (counter > 1) {
				counter -=1;
			}
			$(".text_points:nth-child(" + counter+  ")").css({"color": "blue", "font-weight": "bold"})			
			var text_points_html = $(".text_points:nth-child(" + counter+  ")").html()
			$(".text_input_box").val(text_points_html)
			$("#text_counter").html(counter+" ");
			return true
		}
		$("#text_interact_box").show();
		$(".text_action_input").val(action_square_id);
	});


	$("#action").click(function() {
		$("#text_interact_box").show();
		$(".text_action_input").html("Action");
	})

	$(".interact_square").click(function () {
		var interact_html = $(".text_action_input").val();
		$(".text_input_box").append("\n" + interact_html);
		$(".text_action_input").val(' ')
	})
	$(".save_square").click(function(){
		var text_input_box = $(".text_input_box").val();
		var text_points_html = $(".text_points:nth-child(" + counter+  ")").html(text_input_box);
	});

	$(".generate_file").click(function(){
			var text = "";
			$('div[class="text_points"]').each(function(index,item){
				text += item.innerHTML + "\n"
			})
			var filename = "text_interact"
			var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
			saveAs(blob, filename+".txt");
	});
</script>