<div class="title" contentEditable> Text Interactions !</div>
<div class="text_points_box">
<% text_array = ["1- dummy point ", "2- dummy point"] %>
<% text_array.each do |text_point| %>
	<div class="text_points" contentEditable><%=text_point%></div>
<% end %>
</div>
<!-- <hr align="left"> -->
<div class="text_interaction_container"> 
	<div class="text_count text_counter">
		<span id = "text_counter"> <%=  1 %> </span>/ <span id="max_counter" style="color: #c3b980"><%= text_array.length %></span>
	</div>
	<% action_categories = ["Action", "Practise", "Extras","Prev","Next"]%>
	<div id ="frame_cover">
		<div>
			<textarea class="text_input_box"> </textarea>
		</div>
		<div>
			<div class="fair_title"> Fair </div>
			<textarea class="text_input_fair_box"> </textarea>
		</div>
		<div>
			<button class="save_square gradient_button_brown"> Append</button>
			<button class="collapse_square gradient_button_brown"> Collapse </button>
			<span class="character_count">0</span>
		</div>
		<% action_categories.each do |action| %>
			<button class="action_square gradient_button_blue" id="<%=action%>"><%= action %></button>
		<% end %>
	</div>
	<div id ="text_interact_box">
		<textarea class="text_action_input"></textarea>
		<div><button class="interact_square gradient_button_blue"> Interact</button></div>
	</div>
</div>
<div>
	<button class="generate_file gradient_button_brown">Generate File</button>
</div>
<div class="right_section">
	<div class="screen1" style="display: none"> 
		<div class="title"> Insert Text </div>
		<textarea class="right_section_text_area"></textarea>
		<button class="format_button gradient_button_brown"> Format </button>
	</div>
	<div class="screen2"> 
		<div class="title"> Insert Text  </div>
		<textarea class="right_section2_text_area"></textarea>
		<button class="format_button gradient_button_brown"> Format </button>
		<button class="screen2_button gradient_button_brown"> Interact </button>
		<!-- <button class="screen2_back_button gradient_button_brown"> Back </button> -->
	</div>
	<div class="screen3" style="display: none"> 
		<div class="title"> Recyling </div>
		<textarea class="right_section3_text_area"></textarea>
		<button id="recycle_copy" class="gradient_button_brown">Copy</button> 
		<button class="format_button_2 gradient_button_brown"> Format </button>
		<button class="screen3_button gradient_button_brown"> Recycle </button>
		<!-- <button class="screen3_back_button gradient_button_brown"> Back </button> -->
		<button class="screen3_clear_button gradient_button_brown"> Clear </button>
	</div>
	<div class="title"> Rough </div>
	<textarea class="right_section_rough_area"></textarea>
</div>
<div class="vertical-line"></div>
<style type="text/css">
.fair_title {
	margin-top: 5px;
	font-style: italic;
}
.text_input_fair_box {
	width: 500px;
  height: 50px;
}
    
.character_count{
	font-style: italic;
	color: grey;
	margin-left: 20px; 
}

.vertical-line { 
	position: absolute;
	left:50%;
	top:5%;
  width: 1px; 
  margin-bottom: 10px;
  background-color: brown;
  height: 500px; 
}
.right_section {
	position: absolute;
	right: 0;
	top: 0;
	width: 500px;
	height: 100%;
}
.right_section_text_area {
	margin-top: 5px;
	width: 95%;
	height: 400px;
}
.right_section2_text_area {
	margin-top: 5px;
	width: 95%;
	height: 400px;
}
.right_section3_text_area {
	margin-top: 5px;
	width: 95%;
	height: 400px;
}
.title {
  font-family: font3;
	font-size: 20px;
	color: blue;
}
hr {
	width: 500px;
}
.generate_file {
	margin-top: 20px;
}
.square {
}
.action_square {
  background-color: blue;
}
.text_count {
	margin-bottom: 5px;
}
.text_counter {
 	font-family: font3;
  color: blue;
 }  

 .save_square {
	margin-bottom: 5px;
}

.text_input_box {
  height: 100px;
  width: 500px;
  border-style: solid;
  border-width: 3px;
  border-color: #A4D3EE;
}
.text_action_input {
	height: 70px;
  width: 200px;
  margin-top: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #A4D3EE;
}
.text_points {
  text-decoration:underline
  color: black;
  width: 90%;
}
.text_points_box {
	max-height: 250px;
	width: 500px;
  overflow: auto;
  border: 1px solid blue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.text_interaction_container {
	margin-top: 10px;
}

@font-face {
  font-family: font1;
  src: url("Kingthings_Calligraphica.ttf");
}
@font-face {
  font-family: font2;
  src: url("CATHSGBR.TTF");
}
@font-face {
  font-family: font3;
  src: url("brushstr.ttf");
}

.gradient_button_blue {
border:1px solid #67bcd1; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 4px 10px 4px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #92cfde; background-image: -webkit-gradient(linear, left top, left bottom, from(#92cfde), to(#76bdd1));
 background-image: -webkit-linear-gradient(top, #92cfde, #76bdd1);
 background-image: -moz-linear-gradient(top, #92cfde, #76bdd1);
 background-image: -ms-linear-gradient(top, #92cfde, #76bdd1);
 background-image: -o-linear-gradient(top, #92cfde, #76bdd1);
 background-image: linear-gradient(to bottom, #92cfde, #76bdd1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92cfde, endColorstr=#76bdd1);
}

.gradient_button_blue:hover{
 border:1px solid #44adc6;
 background-color: #6bbed2; background-image: -webkit-gradient(linear, left top, left bottom, from(#6bbed2), to(#50abc4));
 background-image: -webkit-linear-gradient(top, #6bbed2, #50abc4);
 background-image: -moz-linear-gradient(top, #6bbed2, #50abc4);
 background-image: -ms-linear-gradient(top, #6bbed2, #50abc4);
 background-image: -o-linear-gradient(top, #6bbed2, #50abc4);
 background-image: linear-gradient(to bottom, #6bbed2, #50abc4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6bbed2, endColorstr=#50abc4);
}
.gradient_button_brown {
border:1px solid #c3b980; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 4px 10px 4px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #d5cea6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5cea6), to(#b7ad70));
 background-image: -webkit-linear-gradient(top, #d5cea6, #b7ad70);
 background-image: -moz-linear-gradient(top, #d5cea6, #b7ad70);
 background-image: -ms-linear-gradient(top, #d5cea6, #b7ad70);
 background-image: -o-linear-gradient(top, #d5cea6, #b7ad70);
 background-image: linear-gradient(to bottom, #d5cea6, #b7ad70);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d5cea6, endColorstr=#b7ad70);
}

.gradient_button_brown:hover{
 border:1px solid #b4a861;
 background-color: #c5bb83; background-image: -webkit-gradient(linear, left top, left bottom, from(#c5bb83), to(#a29752));
 background-image: -webkit-linear-gradient(top, #c5bb83, #a29752);
 background-image: -moz-linear-gradient(top, #c5bb83, #a29752);
 background-image: -ms-linear-gradient(top, #c5bb83, #a29752);
 background-image: -o-linear-gradient(top, #c5bb83, #a29752);
 background-image: linear-gradient(to bottom, #c5bb83, #a29752);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c5bb83, endColorstr=#a29752);
}

.paper {
    padding: 37px 55px 27px;
    position: absolute;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
}
.paper::before {content:""; z-index:-1; margin:0 1px; width:706px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:1px solid #B5B5B5;}
.paper::after {content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}
.paper_class {
	width: 100%;
	height: 100%;
	position: absolute;
}
.right_section_rough_area {
	width: 95%;
	height: 130px;
	margin-top: 10px;
}

</style>
<script type="text/javascript">
	var counter = 1
	var max_counter = parseInt($(".text_count").text().split("/")[1])
	var initial_length = 1;
	// set_initial_text_length();
	var text_points_html = $(".text_points:nth-child(" + counter+  ")").html()
	$(".text_input_box").html(text_points_html)
	$("#text_interact_box").hide()

	$(".action_square").click(function(){
		var action_square_id = $(this).attr("id");
		if (action_square_id == "Next"){
			append_text();
			next_point();
			return true
		}
		if (action_square_id == "Prev"){
			append_text();
			prev_point();
			return true
		}
		$("#text_interact_box").show();
		$(".text_action_input").val(action_square_id);
	});

	$(".interact_square").click(function () {
		var interact_html = $(".text_action_input").val();
		var prev_value = $(".text_input_box").val()
		$(".text_input_box").val(prev_value + "\n" + interact_html)
		$(".text_action_input").val(' ')
	})

	$(".save_square").click(function(){
		append_text();
	});

	$(".generate_file").click(function(){
			var text = "";
			$('div[class="text_points"]').each(function(index,item){
				text += item.innerHTML + "\n"
			})
			var filename = "text_interact"
			var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
			saveAs(blob, filename+".txt");
	});

	$(".format_button").click(function(){
		formatting("right_section2_text_area");
	});

	$(".format_button_2").click(function(){
		formatting("right_section3_text_area");
	});

	function formatting (class_name){
		var screen1_text_array = $("." + class_name).val().split("\n")
		var screen1_text_array_numbered = []
		var arrayLength = screen1_text_array.length;
		for (var i = 0; i < arrayLength; i++) {
			var regex = /\d+-/
			var text_point_formated = screen1_text_array[i].slice(0,3).replace(regex,"") + screen1_text_array[i].slice(3,)
    	screen1_text_array_numbered[i] = (i+1) +"-" + text_point_formated;
		}
		screen2_text = ""
		for (var i = 0; i < arrayLength; i++) {
			if (i !=arrayLength-1) {
				screen2_text += screen1_text_array_numbered[i] + "\n"
			}
			else {
				screen2_text += screen1_text_array_numbered[i]
			}
		}
		// screen2_text -= "\n"
		$("." + class_name).val(screen2_text);
	}
	$(".screen2_button").click(function(){
		$(".screen2").css({"display" : "none"})
		$(".screen3").css({"display" : "block"})
		var screen2_text = $(".right_section2_text_area").val();
		var splitted_screen_text2_array = screen2_text.split("\n")
		var looped_array_html = ""
		var arrayLength = splitted_screen_text2_array.length;
		for (var i = 0; i < arrayLength; i++) {
    	looped_array_html += 	"<div class='text_points' contentEditable>"+splitted_screen_text2_array[i] + "</div>"
		}
		$(".text_points_box").html(looped_array_html);
		max_counter = arrayLength;
		max_counter_html = "<span id = 'text_counter'>" + 1 + " </span>/ "+ "<span id='max_counter'>" +  max_counter + "</span>"
		$(".text_count").html(max_counter_html);
	});

	$(".screen3_button").click(function(){
		var screen3_text = $(".right_section3_text_area").val();
		var splitted_screen_text3_array = screen3_text.split("\n")
		var looped_array_html = ""
		var arrayLength = splitted_screen_text3_array.length;
		for (var i = 0; i < arrayLength; i++) {
    	looped_array_html += 	"<div class='text_points' contentEditable>"+splitted_screen_text3_array[i] + "</div>"
		}
		$(".text_points_box").html(looped_array_html);
		max_counter = arrayLength;
		max_counter_html = "<span id = 'text_counter'>" + 1 + " </span>/ " + "<span id='max_counter'>" + max_counter+ "</span>"
		$(".text_count").html(max_counter_html);
		counter = 1;
		var text_points_html = $(".text_points:nth-child(" + counter+  ")").html()
		$(".text_input_box").val(text_points_html)
		$("#text_counter").html(counter + " ");
	});

	$("#recycle_copy").click(function(){
		var recycle_text = ""
		$('div[class="text_points"]').each(function(index,item){
			recycle_text += item.innerHTML + "\n"
	});
		$(".right_section3_text_area").val(recycle_text);
	});

	$(".screen2_back_button").click(function(){
		$(".screen2").css({"display" : "none"})
		$(".screen1").css({"display" : "block"})
	});

	$(".screen3_back_button").click(function(){
		$(".screen3").css({"display" : "none"})
		$(".screen2").css({"display" : "block"})
	});

	$(".screen3_clear_button").click(function(){
		$(".right_section3_text_area").val("")
	});

	$('.text_input_box').keyup(function () {
		set_text_difference();
	});

	$('.collapse_square').click(function(){
		$(".text_points:nth-child(" + counter+  ")").remove();
		next_point();
		max_counter -=1;
		counter -= 1;
		console.log(max_counter);
		$("#max_counter").html(max_counter);
	});

	function set_initial_text_length(){
  	initial_length = $(".text_points:nth-child(" + counter+  ")").html().replace(/\s/g, "").length
  	set_text_difference();
	};
	function set_text_difference(){
		var final_length = $(".text_input_box").val().replace(/\s/g, "").length;
		var length_difference = final_length - initial_length;
		$(".character_count").html(length_difference);
	};
	function append_text() {
		var text_input_box = $(".text_input_box").val();
		var text_input_fair_box = $(".text_input_fair_box").val();
		var fair_text = " "
		if (text_input_fair_box == " ") {
			fair_text = ""
		}
		else {
			fair_text = "\n" + "Fair" +"\n" + text_input_fair_box
		}
		var text_concated = text_input_box + fair_text
		var text_points_html = $(".text_points:nth-child(" + counter+  ")").html(text_concated);

	};
	function next_point() {
		$(".text_points:nth-child(" + counter+  ")").css({"color": "black", "font-weight": "normal"})
		if (counter < max_counter) {
			counter +=1;
		}
		else {
			counter = 1;
		}
		$(".text_points:nth-child(" + counter+  ")").css({"color": "blue", "font-weight": "bold"})
		var text_points_html = $(".text_points:nth-child(" + counter+  ")").html()
		$(".text_input_box").val(text_points_html)
		$("#text_counter").html(counter + " ");
		$(".text_input_fair_box").val(" ")
		set_initial_text_length();
	};
	function prev_point(){
		$(".text_points:nth-child(" + counter+  ")").css({"color": "black", "font-weight": "normal"})			
		if (counter > 1) {
			counter -=1;
		}
		$(".text_points:nth-child(" + counter+  ")").css({"color": "blue", "font-weight": "bold"})	
		var text_points_html = $(".text_points:nth-child(" + counter+  ")").html()
		$(".text_input_box").val(text_points_html)
		$("#text_counter").html(counter+" ");
		$(".text_input_fair_box").val(" ")
		set_initial_text_length();
	};
</script>

