window 2

<%= form_tag(controller: "interact", action: "box_interact", method: "post") do %>
	<textarea class="text_input" name="text_input"><% @text_array_numbered.each do |text_point|%>
<%=text_point%><% end %></textarea>
	<div><%= submit_tag("Interact") %></div>
<% end %>
<div>
</div>

<style type="text/css">
	.text_input {
		width: 600px;
		height: 400px;
	}
</style>

<!-- <div class="text_input_box"> 
	<textarea class="text_input" name="saplha"><% @text_array_numbered.each do |text_point|%>
<%=text_point%><% end %></textarea>
</div> -->

<!-- 	<%= text_area_tag :text_input ,"", class: "text_input" do %>
		<%= text_message %>
		fsdfdf
	<% end %> -->

		<!-- <div class="text_input_box"> 
		<textarea class="text_input"> At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
		</textarea>
	</div> -->